* { box-sizing: border-box; }
body{
margin: 10;
padding-left: 5px;     
font-family:Helvetica,Arial,sans-serif;
font-size:  14px;
line-height: 1.5;
letter-spacing: 0.5px;
}

form {
  float: left;
  width: 50%;
  padding-right: 20px;
  margin-bottom: 20px;
}

input,
select
{
width: 100%;
padding:8px; margin:5px 0;
border: 1px solid grey;
border-radius:5px;
display: block;
}

button,
input[type=submit],
input[type=button]
{
color:white; background:grey;
border: 1px solid transparent;
cursor:pointer;
align-items: center;
}

button:hover,input[type=submit]:hover,input[type=button]:hover{background:white; }
ul li, ol li {
    margin-bottom: 10px;
}
ul {margin: 0; padding: 0; list-style-type:none;}
li {padding: 0; left:0; }

table {border-collapse:collapse; border-spacing:0; width:100%; color: #000;}
table th, table td { border:none; text-align:left; padding:8px; }
table tr { background:#f8f8f8; }
table tr:nth-child(even){ background:#fff;}
table th { height:37px; }

#paragraf {
  clear: both;
  display: block;
  width: 100%;
  margin-top: 20px;
}

#paragraf h1, 
#paragraf h2 {
  display: block;
  width: 100%;
  clear: both;
  margin: 10px 0;
}

#paragraf p {
  display: block;
  width: 100%;
  clear: both;
}

ul, ol {
  clear: both;
  margin-left: 20px;
  margin-bottom: 15px;
}


@media screen and (max-width: 700px) {
  form {
    width: 100%;
    float: none;
  }
  
  #paragraf, #paragraf h1, #paragraf h2, #paragraf p {
    padding-left: 0;
    margin-left: 0;
  }
}
